
<div class="container-xxl py-5 px-0 wow zoomIn" data-wow-delay="0.1s">
    <div class="row g-0">
        <div class="col-md-6 bg-dark d-flex align-items-center">
            <div class="p-5">
                <h6 class="section-title text-start text-white text-uppercase mb-3">HUZUR DOLU BİR TATİL</h6>
                <h1 class="text-white mb-4">KONFOR VE KALİTEYİ BURADA KEŞFEDİN.</h1>
                <p class="text-white mb-4">Hoş geldiniz! Hotelier olarak, konuklarımıza unutulmaz bir konaklama deneyimi sunmayı amaçlıyoruz. Muhteşem konumumuz, lüks olanaklarımız ve sıcak misafirperverliğimizle tatilinizi unutulmaz kılmak için buradayız.</p>
                <a href="/Booking/Index/" class="btn btn-primary py-md-3 px-md-5 me-3">ODALARIMIZ</a>
                <a href="/Booking/Index/" class="btn btn-light py-md-3 px-md-5">REZERVASYON YAP</a>
            </div>
        </div>
        <div class="col-md-6">
            <iframe width="660" height="455" src="https://www.youtube.com/embed/H1CIBqDeWQ0?si=_bSDQnGyBoPGiIwC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
</div>


    